/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    line-height: 1.6;
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

#homePageLogo {
    position: relative;
    height: 60px;
    width: auto;
}

#linkedInLogo {
    padding-top: 10px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#nav-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

main {
    padding-top: 70px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    max-width: 2000px;
    margin: 0 auto;
}

/* HOME SECTION */
#home {
    flex-direction: column;
}

#home > #title {
    font-size: 1rem;
    padding-bottom: 50px;
}

#home > #welcome {
    font-size: 1.5rem;
}

/* ABOUT SECTION */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
    position: relative;
}

#about #logo {
    position: absolute;
    top: 13%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#about #logo img {
    width: 200px;
    height: 200px;
}

#about > h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.content > div {
    background-color: rgba(68, 68, 76, .65);
}

#about .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: calc(75vh - 150px);
    width: 100%;
}

#about .content > div {
    width: 600px;
    height: 300px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* SERVICES SECTION */
#services {
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

#services > h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#services .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#services .content > div {
    width: 80%;
    height: auto;
    max-width: 800px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* PROJECTS SECTION */
#projects {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

#projects > h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    padding-bottom: 100px;
}

#projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.project-item {
    width: calc(50% - 30px);
    margin: 15px;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-content {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-expanded {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: height 0.5s ease, opacity 0.3s ease;
}

/* CONTACT SECTION */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

#contact > h2 {
    font-size: 4rem;
    margin-bottom: 120px;
}

#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#contact .content > div {
    width: 80%;
    height: auto;
    max-width: 800px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#contact a {
    color: #00b8ff;
    font-size: 25px;
    background-color: transparent;
    text-decoration: none;
}

#contact a:hover {
    color: #3ce4a8;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

/* Logo styles */
#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: translate(-50%, -50%);
}

#logo img {
    width: 200px;
    height: 200px;
}

/* Media Queries for Responsiveness */

/* iPhone (e.g., iPhone 12, 430px x 932px) */
@media only screen and (max-width: 480px) {
    header {
        flex-direction: row;
        height: auto;
        padding: 1rem;
    }
    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
    }
    #nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }
    #nav-menu ul li {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    #nav-menu ul li a {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
    }
    #nav-toggle {
        display: block;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    section {
        height: auto;
    }
    #home {
        height: 75vh;
    }
    #about #logo {
        position: absolute;
        top: 13%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    #about #logo img {
        width: 100px;
        height: 100px;
    }
    #about h2, #services h2, #contact h2 {
        font-size: 2rem;
    }
    #about .content, #services .content, #contact .content {
        flex-direction: column;
    }
    #about .content > div, #services .content > div, #contact .content > div {
        width: 100%;
        height: auto;
    }
    #projects {
        padding-top: 500px;
    }
    .project-item {
        width: 100%;
    }
}

/* Small Devices (e.g., tablets and small desktops, 481px to 860px) */
@media only screen and (min-width: 481px) and (max-width: 860px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
    }
    #nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }
    #nav-menu ul li {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    #nav-menu ul li a {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
    }
    #nav-toggle {
        display: block;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    section {
        height: auto;
    }
    #home {
        height: 75vh;
    }
    #about #logo {
        position: absolute;
        top: 13%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    #about #logo img {
        width: 100px;
        height: 100px;
    }
    #about h2, #services h2, #contact h2 {
        font-size: 2rem;
    }
    #about .content, #services .content, #contact .content {
        flex-direction: column;
    }
    #about .content > div, #services .content > div, #contact .content > div {
        width: 100%;
        height: auto;
    }
    #projects {
        padding-top: 500px;
    }
    .project-item {
        width: 100%;
    }
}

/* Large Devices (desktops, 769px and up) */
@media only screen and (min-width: 861px) {
    nav ul {
        flex-direction: row;
    }
    #services .content, #contact .content {
        flex-direction: column;
    }
    #about .content > div, #services .content > div, #contact .content > div {
        width: 600px;
    }
    .project-item {
        width: calc(50% - 30px);
    }
}
